.ButtonChildContainer {
    display: block;
}

.Button {
    color: white;
    width: max-content;
    height: 20px;
    display: block;
    cursor: pointer;
    font-size: 14px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    transition: box-shadow 0.7s;
}

.ButtonDefault {
    background-color: #456990;
    border: 3px solid #456990;
}

.ButtonDefault:hover {
    box-shadow: 0px 0px 5px 0.2px #456990;
}

.ButtonSuccess {
    background-color: #028090;
    border: 3px solid #028090;
}

.ButtonSuccess:hover {
    box-shadow: 0px 0px 5px 0.2px #028090;
}

.ButtonDanger {
    background-color: #F45B69;
    border: 3px solid #F45B69;
}

.ButtonDanger:hover {
    box-shadow: 0px 0px 5px 0.2px #F45B69;
}
